--acronyms ID,URL,UUID
--allman false
--anonymousforeach convert
--assetliterals visual-width
--asynccapturing 
--beforemarks 
--binarygrouping 4,8
--callsiteparen default
--categorymark "MARK: %c"
--classthreshold 0
--closingparen same-line
--closurevoid remove
--commas always
--complexattrs preserve
--computedvarattrs preserve
--condassignment after-property
--conflictmarkers reject
--dateformat system
--decimalgrouping 3,6
--doccomments before-declarations
--elseposition same-line
--emptybraces no-space
--enumnamespaces always
--enumthreshold 20
--exponentcase lowercase
--exponentgrouping disabled
--extensionacl on-declarations
--extensionlength 0
--extensionmark "MARK: - %t + %c"
--fractiongrouping disabled
--fragment false
--funcattributes prev-line
--generictypes 
--groupblanklines true
--groupedextension "MARK: %c"
--guardelse auto
--header strip
--hexgrouping 4,8
--hexliteralcase uppercase
--ifdef no-indent
--importgrouping testable-last
--indent 2
--indentcase false
--indentstrings false
--inferredtypes always
--initcodernil false
--inlinedforeach ignore
--languagemode 0
--lifecycle 
--lineaftermarks true
--linebreaks lf
--markcategories true
--markextensions always
--marktypes always
--maxwidth none
--modifierorder 
--nevertrailing 
--nilinit remove
--noncomplexattrs 
--nospaceoperators 
--nowrapoperators 
--octalgrouping 4,8
--operatorfunc spaced
--organizationmode visibility
--organizetypes class,enum,extension,struct
--patternlet inline
--preservedecls 
--preservedsymbols Mock,Package
--propertytypes inferred
--ranges no-space
--self remove
--selfrequired 
--semicolons inline
--shortoptionals always
--smarttabs enabled
--someany true
--sortedpatterns 
--storedvarattrs preserve
--stripunusedargs always
--structthreshold 20
--swiftversion 5.10
--tabwidth unspecified
--throwcapturing 
--timezone system
--trailingclosures 
--trimwhitespace always
--typeattributes prev-line
--typeblanklines remove
--typedelimiter space-after
--typemark "MARK: - %t"
--typemarks 
--typeorder 
--visibilitymarks 
--visibilityorder 
--voidtype void
--wraparguments before-first
--wrapcollections before-first
--wrapconditions before-first
--wrapeffects preserve
--wrapenumcases always
--wrapparameters before-first
--wrapreturntype if-multiline
--wrapternary default
--wraptypealiases preserve
--xcodeindentation disabled
--yodaswap always
--disable andOperator,assertionFailures,blankLinesAtEndOfScope,blankLinesAtStartOfScope,blankLinesBetweenChainedFunctions,braces,elseOnSameLine,emptyBraces,enumNamespaces,hoistAwait,initCoderUnavailable,leadingDelimiters,linebreakAtEndOfFile,linebreaks,modifierOrder,numberFormatting,redundantBackticks,redundantExtensionACL,redundantFileprivate,redundantPattern,redundantVoidReturnType,semicolons,sortDeclarations,spaceAroundComments,spaceAroundGenerics,spaceAroundParens,spaceInsideBrackets,spaceInsideGenerics,spaceInsideParens,strongOutlets,trailingClosures,unusedArguments,void,wrap
--enable blankLinesBetweenImports,isEmpty,markTypes,organizeDeclarations,propertyTypes,sortSwitchCases,wrapSwitchCases
--exclude Pods,Generated,vendor